<?xml version="1.0"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    <atom:link href="https://tughi.github.io/aggregator-android/news.rss" rel="self" type="application/rss+xml" />
    <title>Aggregator News</title>
    <link>https://tughi.github.io/aggregator-android</link>
    <description>Latest news about Aggregator</description>
    {% for item in news %}
    <item>
      <guid isPermaLink="false">{{ item.uid }}</guid>
      <title>{{ item.title }}</title>
      {% if item.link %}<link>{{ item.link }}</link>{% endif %}
      <description>
        <![CDATA[
          {{ item.content }}
        ]]>
      </description>
      {% if item.date %}<pubDate>{{ item.date.strftime('%a, %d %b %Y %H:%M:%S %z') }}</pubDate>{% endif %}
    </item>
    {% endfor %}
  </channel>
</rss>
